{% extends "base.html" %}
{% load subject_menu %}

{% block content %}

<div class="hero is-primary is-patterned">
    <div class="hero-head">
        {% subject_menu current_page=self %}
    </div>

    <div class="hero-body has-text-centered">
        <h1 class="title is-0 is-uppercase">
            {% block page_title %}{{ self.title }}{% endblock page_title %}
        </h1>
        <h3 class="subtitle is-4-desktop is-5-touch">
            {% block page_subtitle %}{% endblock page_subtitle %}
        </h3>
    </div>
</div>

{% block page-content %}

{% endblock page-content %}

{% endblock content %}

