{% load to_class_name wagtailsettings_tags wagtailcore_tags %}
{% get_settings %}

{% if current_page|to_class_name != "HomePage" %}
    <nav class="navbar is-transparent">
        <div class="container">
        <div class="navbar-brand is-transparent">
            <a class="navbar-item" href="/"><h2 class="title is-2 is-boxed">
                {{ request.site.site_name }}
            </h2></a>
        </div>
            <div class="navbar-end">
                <nav class="tabs is-large">
                    {% for subject in menuitems %}
                        <a href="{{ subject.url }}">{{ subject.title }}</a>
                    {% endfor %}
                    <a href="{% url 'search' %}">Search</a>
                </nav>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="tabs is-centered is-large">
        <div class="container">
            <ul>
                {% for subject in menuitems %}
                    <li><a href="{{ subject.url }}">{{ subject.title }}</a></li>
                {% endfor %}
                <a href="{% url 'search' %}">Search</a>
            </ul>
        </div>
    </nav>
{% endif %}