{% extends "base.html" %}

{% load subject_menu wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% load static from staticfiles %}
{% load make_markdown %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% get_settings %}

<section class="hero is-primary is-medium">

    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title is-boxed is-0">
                {{ request.site.site_name }}
            </h1>
        </div>
    </div>

    <div class="hero-foot">
        {% subject_menu current_page=self %}
      </div>
</section>

{% if self.featured_article %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-article-preview">
          {% with self.featured_article as fa %}
            <div class="column is-7">
              {% image fa.main_image fill-1000x600 as tmp_photo %}
              <img src="{{tmp_photo.url}}" {{tmp_photo.attrs}}/>
            </div>
            <div class="column is-5">
              <h4 class="subtitle is-4"><a href="{{ fa.subject.url }}">{{ fa.subject }}</a></h4>
              <h2 class="title is-1"><a href="{{ fa.url }}">{{ fa.title }}</a></h2>
              <h3 class="subtitle is-4">
                By <a href="{{ fa.author.url }}">{{ fa.author }}</a>
                &emsp;|&emsp;
                {{ fa.date }}
              </h3>
              <div class="content">{{ fa.intro | make_markdown }}</div>
              <h6 class="read-more">
                  <a href="{{ fa.url }}">
                      Read More
                      <div class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></div>
                  </a>
              </h6>
            </div>
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

<section class="section">
  <div class="columns">
    <div class="column is-8-desktop is-offset-2-desktop">
        <h1 class="title is-1">Recent Posts</h1><br>
        {% for article in self.latest_articles.all %}
          {% include "blog/preview_article.html" %}
        {% endfor %}
        <div class="has-text-centered">
          <a class="button is-large" href="{% url 'articles' %}">See More Posts</a>
        </div>
    </div>
  </div>
</section>

</div> <!-- /container -->
{% endblock %}