// Import initial variables

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$body-size: 17px;

$article-width: 1000px;

$green: #058E3F;
$green-invert: findColorInvert($green);

$size-8: 0.5rem;

$family-sans-serif: 'Montserrat', sans-serif;
$family-title: 'Frank Ruhl Libre', serif;
$family-subtitle: 'Share Tech', sans-serif;

$title-weight: $weight-normal;
$subtitle-weight: $weight-normal;

$content-heading-weight: $weight-normal;

$link: $green;
$primary: $black-bis;

// Derived variables

@import "node_modules/bulma/sass/utilities/derived-variables";

$code-background: $white-ter;
$code: $text;
$code-padding: 3px 6px 3px;

// Custom CSS

@import "node_modules/bulma/sass/utilities/mixins";


.title {
    font-family: $family-title;
}

.tabs, .subtitle, .article-subject, .article-info {
    font-family: $family-subtitle;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.tabs a {
    font-size: 1.5rem;
}

.hero {
    .title {
        display: inline-block;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-style: solid;
        border-color: $white;
        opacity: .9;
        &:hover {opacity: 1;}
    }
    h2.title {
        border-width: 2px;
        padding: $size-3/2 $size-3;
    }
    h1.title {
        font-size: 100px;
        padding: $gap/2 $gap;
        border-width: 5px;
        @include mobile {
            border-width: 3px;
            font-size: 15vw;
            padding: 2vw 4vw;
        }
    }
}

.card {
    margin-bottom: $gap/2;
    &.is-horizontal {
        display: table;
        .card-image {
            display: table-cell;
            width: 40%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
        .card-content {
            display: table-cell;
        }
        @include mobile {
            display: block;
            .card-image {
                display: block;
                width: 100%;
                padding-bottom: 75%;
            }
            .card-content {
                display: block;
            }
        }
    }
    &.is-article-preview {
        .title {
            a {color: inherit;}
            //margin: $size-8 0;
        }
    }

}

.read-more {
    font-family: $family-sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 500;
    .icon {
        vertical-align: middle;
    }
}

.image.is-captioned {
    margin: 0;
    margin-bottom: 1.5rem;
    img {display: block;}
    figcaption {
        text-align: left;
        margin-top: 0.5rem;
        font-size: .85rem;
        p {
            margin-bottom: 0;
            font-style: italic;
        }
        .img-source {
            margin-top: 0.25rem;
            color: $grey-light;
            font-weight: 500;
        }
    }
    &.left {
        float: left;
        margin-right: 1.5rem;
        width: calc(50% - 1.5rem);
    }
    &.right {
        float: right;
        margin-right: 1.5rem;
        width: calc(50% - 1.5rem);
    }
    &.centered {
        width: 750px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.article {
    max-width: $article-width;
    margin-left: auto;
    margin-right: auto;

    > .title.is-1 {
        font-size: 3.25rem;
        margin-top: -1rem !important;
        margin-bottom: 2.5rem;
    }

    .article-intro {
        font-family: $family-title;
        font-style: italic;
        display: block;
        color: $grey;
        font-size: 1.3rem;
        margin: $gap/2 0;
    }

    .content {
        h1, h2, h3, h4, h5, h6 {font-family: $family-sans-serif;}
        h1 {
            &:first-child {margin-top: 1em}
        }
        h2 {
            font-size: 2.25rem;
            &:first-child, &:not(:first-child) {margin-top: 1em}
        }
        h3 {
            font-size: 1.75rem;
            &:first-child, &:not(:first-child) {margin-top: 1em}
        }
        h4 {font-size: 1.5rem;}
        p, .block-table, .block-code {margin-bottom: 1rem;}
        table {width: auto;}
    }
    .block-table, .block-code {
        overflow-x: auto;
    }
    table.highlighttable {
        border: none;
        * {
            border: none;
        }
        td {padding: 0;}
        //.linenos pre {padding-right: 0;}
        //.code pre {padding-left: 0;}
    }

    .card.is-author p {
        margin: 0;
    }
}




@import "node_modules/bulma/bulma";

body {
    //line-height: 1.6;
}