{% extends "hero_page.html" %}
{% load wagtailcore_tags %}
{% load static from staticfiles %}

{% block title %}Search{% endblock %}

{% block page_title %}
Search
{% endblock page_title %}

{% block page-content %}

<div class="hero is-light">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">

                <form action="{% url 'search' %}" method="get" id="search-form">
                    <div class="field has-addons is-horizonal">
                        <div class="control is-expanded">
                            <input type="text"
                                class="input is-large"
                                name="query"
                                placeholder="Find something interesting"
                                {% if search_query %} value="{{ search_query }}"{% endif %}>
                        </div>
                        <div class="control">
                            <a type="submit"
                                value="Search"
                                class="button is-link is-large"
                                onclick="document.getElementById('search-form').submit();">
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<section class="section">

    {% if search_results %}
        {% include "blog/preview_articles.html" with articles=search_results %}
    {% else %}
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
            {% if search_query %}
                <p class="subtitle" style="text-align: center">Uh oh! No posts found.</p>
                <img class="filler-img" src="{% static 'imgs/undraw_empty_xct9.svg' %}">
            {% else %}
                <img class="filler-img" src="{% static 'imgs/undraw_file_searching_duff.svg' %}">
            {% endif %}
            </div>
        </div>
    {% endif %}

</section>

{% endblock %}
