{% extends "page.html" %}

{% load wagtailcore_tags wagtailimages_tags create_page_range make_markdown %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block page-content %}

<div class="row">
    <div class="col-md-12">
        <div class="subject-box" id="index-intro">
            <h2 class="subject-header">{{ self.title }}</h2>
            <div class="subject-info">
                {{ self.intro|make_markdown }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if articles %}
            {% for article in articles %}
                {% include "blog/article_row.html" %}
            {% endfor %}

            <div class="pagination">
                {% if articles and articles.paginator.num_pages > 1 %}
                    {% if articles.has_previous %}
                        <a href="?page=1">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a href="?page={{ articles.previous_page_number }}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% endif %}

                    {% create_page_range articles.paginator.page_range articles.number as page_range %}

                    {% if 1 not in page_range %}
                        <span>...</span>
                    {% endif %}
                    {% for page in page_range %}
                        {% if page == articles.number %}
                            <span class="current-page page">{{ page }}</span>
                        {% else %}
                            <a href="?page={{ page }}" class="page">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if articles.paginator.num_pages not in page_range %}
                        <span>...</span>
                    {% endif %}

                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="?page={{ articles.paginator.num_pages }}">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            <p style="text-align: center">No articles</p>
        {% endif %}
    </div>
</div>

{% endblock %}