{% extends "hero_page.html" %}
{% load static from staticfiles %}

{% load wagtailcore_tags create_page_range make_markdown %}

{% block page_title %}
    {{ self.title }}
{% endblock page_title %}

{% block page_subtitle %}
    {{ self.intro|make_markdown }}
{% endblock page_subtitle %}

{% block page-content %}

<section class="section">
    {% if articles %}
        {% include "blog/preview_articles.html" %}
    {% else %}
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p class="subtitle" style="text-align: center">
                    I'm definitely working hard on writing something to go here.<br>
                    Definitely that and not going on a crazy adventure.
                </p>
                <img class="filler-img" src="{% static 'imgs/undraw_balloons_vxx5.svg' %}">
            </div>
        </div>
    {% endif %}
</section>

{% endblock %}