{% extends "page.html" %}

{% load wagtailcore_tags wagtailimages_tags create_page_range make_markdown %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block page-content %}

<div class="section">
    <div class="container">
        <div class="subject-box" id="index-intro">
            <h2 class="subject-header">{{ self.title }}</h2>
            <div class="subject-info">
                {{ self.intro|make_markdown }}
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        {% if articles %}
            {% for article in articles %}
                {% include "blog/preview_article.html" %}
            {% endfor %}

            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if articles and articles.paginator.num_pages > 1 %}
                    {% if articles.has_previous %}
                        <a class="pagination-previous" href="?page={{ articles.previous_page_number }}">
                            Previous
                        </a>
                    {% endif %}

                    {% if articles.has_next %}
                        <a class="pagination-next" href="?page={{ articles.next_page_number }}">
                            Next
                        </a>
                    {% endif %}

                    {% create_page_range articles.paginator.page_range articles.number as page_range %}

                    <ul class="pagination-list">
                        {% if 1 not in page_range %}
                            <li><a class="pagination-link"
                                aria-label="Goto page 1"
                                href="?page=1">
                                1
                            </a></li>
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                        {% endif %}

                        {% for page in page_range %}
                            {% if page == articles.number %}
                            <li><a class="pagination-link is-current"
                                aria-label="Page {{ page }}"
                                aria-current="page">
                                {{ page }}
                            </a></li>
                            {% else %}
                                <li><a class="pagination-link"
                                    aria-label="Goto page {{ page }}"
                                    href="?page={{ page }}">
                                    {{ page }}
                                </a></li>
                            {% endif %}
                        {% endfor %}

                        {% if articles.paginator.num_pages not in page_range %}
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link"
                                aria-label="Goto page {{ articles.paginator.num_pages }}"
                                href="?page={{ articles.paginator.num_pages }}">
                                {{ articles.paginator.num_pages }}
                            </a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>

        {% else %}
            <p class="has-text-centered">No articles</p>
        {% endif %}
    </div>
</div>

{% endblock %}