{% load wagtailcore_tags wagtailimages_tags %}
{% load make_markdown %}

<div class="card is-horizontal is-article-preview">
    {% image article.main_image fill-600x600 as tmp_photo %}
    <div class="card-image"
        style="background-image: url({{ tmp_photo.url }})"
        {{ tmp_photo.attrs }}>
    </div>
    <div class="card-content">
        <h6 class="subtitle is-6">
            <a href="{{ article.subject.url }}">
                {{article.subject }}
            </a>
        </h6>
        <h2 class="title is-size-3-tablet is-size-4-mobile">
            <a href="{{ article.url }}">
                {{ article.title }}
            </a>
        </h2>
        <h6 class="subtitle is-6">
            <span class="article-author">
                By <a href="{{ article.author.url }}">{{ article.author }}</a><!--
            --></span><!--
            -->&emsp;|&emsp;{{ article.date }}
        </h6>
        <div class="content">
            {{ article.intro | make_markdown }}
        </div>
        <h6 class="read-more">
            <a href="{{ article.url }}">
                Read More
                <div class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></div>
            </a>
        </h6>
    </div>
</div>