{% extends "hero_page.html" %}

{% block title %}
    Tagged: {{ tag_query }}
{% endblock %}

{% block page_title %}
    {{ tag_query }}
{% endblock page_title %}

{% block page_subtitle %}
    Tagged Articles
{% endblock page_subtitle %}

{% block page-content %}

TODO: Add list of all tags here

<div class="columns">
    <div class="column is-8 is-offset-2">
        {% for article in filter_results %}
                {% include "blog/preview_article.html" %}
        {% endfor %}
    </div>
</div>

{% include "pagination.html" with articles=filter_results %}

{% endblock page-content %}