{% extends "hero_page.html" %}
{% load static from staticfiles %}

{% block title %}
    Tagged: {{ tag_query }}
{% endblock %}

{% block page_title %}
    {% if tag_query %}
        {{ tag_query }}
    {% else %}
        Tags
    {% endif %}
{% endblock page_title %}

{% block page_subtitle %}
    Tagged Articles
{% endblock page_subtitle %}

{% block page-content %}

<div class="hero is-light">
    <div class="hero-body">
        <div class="container has-text-centered has-tags">
            {% for tag in tags %}
                <a class="button" href="{% url 'tag_filter' %}?tag={{ tag }}">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<section class="section">
    {% if tag_query %}
        {% include "blog/preview_articles.html" with articles=filter_results %}
    {% else %}
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p class="subtitle" style="text-align: center">Pick a tag to see posts.</p>
                <img class="filler-img" src="{% static 'imgs/undraw_post_online_dkuk.svg' %}">
            </div>
        </div>
    {% endif %}
</section>

{% endblock page-content %}